// All scss component include here
@import '../scss/components/slider';
@import '../scss/components/policy';
@import '../scss/components/blog';
@import '../scss/components/appointment';
@import '../scss/components/department';