// short classes
.container {
    @media (min-width: 1200px) {
        max-width: 1170px;
    }
}

.dark-bg {
    background-color: #20242F;
}

.black-bg {
    background-color: #1B1F28;
}

.light-blue-bg {
    background-color: #276C95;
}

.black-light {
    background-color: #252525;
}

.bg-ebony {
    background-color: #2e3138;
}

.paragraph {
    color: $paragraph-light !important;
}

.fix {
    overflow: hidden;
}

// button style 
.btn {
    &.btn-round {
        font-size: 14px;
        color: $white;
        border: 2px solid $white;
        padding: 14px 35px 12px;
        border-radius: 50px;

        // responsive
        @media #{$xxs-device} {
            padding: 10px 20px;
        }

        &:hover {
            color: $theme-color-7;
            background-color: $white;
            border-color: $white;
        }

        i {
            padding-right: 5px;
        }
        &.btn-2 {
            border-color: $theme-color-8;
            color: $theme-color-8;
            padding: 10px 35px;
            &:hover {
                border-color: $theme-color-8;
                background-color: $theme-color-8;
                color: $white;
            }
            &--bg {
                background-color: $theme-color-8;
                color: $white;
                &:hover {
                    background-color: transparent;
                    color: $theme-color-8;
                }
            }
        }
    }
}

.read-more {
    color: #fff;
    font-size: 16px;
    padding: 15px 40px;
    display: inline-block;
    line-height: 1;
    transition: 0.4s;
    border: 2px solid $white;

    // responsive
    @media #{$md-device} {
        padding: 18px 25px;
    }

    @media #{$xxs-device} {
        padding: 10px;
    }

    i {
        padding-right: 5px;
    }

    &:hover,
    &.active {
        color: $white;
        background-color: $theme-color-2;
        border-color: #998675 #998675 #736357;
    }

    &.active {
        margin-right: 15px;

        &:hover {
            background-color: transparent;
            border: 2px solid $white;
        }
    }

    &.gray {
        color: $black-soft;
        font-size: 14px;
        padding: 15px 40px;
        font-weight: 600;
        background-color: #ebebeb;
        border-color: #ebebeb #ebebeb #d3d3d3;

        &:hover {
            color: #fff;
            background: #E8AF36;
            border-color: #E8AF36 #E8AF36 #BB8112;
        }
    }

    &.round-gradient {
        border-radius: 50px;
        background-color: transparent;
        border-color: #e84855 #e84855 #bd2d39;

        // responsive
        @media #{$xxs-device} {
            padding: 10px 20px;
        }

        &.active,
        &:hover {
            background-color: #e84855;
        }

        &.active {
            &:hover {
                background-color: #e84855;
                border-color: #e84855 #e84855 #bd2d39;
            }
        }
    }
}

.button-set {
    .read-more {
        @media #{$xxs-device} {
            padding: 10px;
        }

        &.round-gradient {
            @media #{$xxs-device} {
                padding: 10px 20px;
            }
        }

        &.active {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .btn {
        &.btn-round {
            @media #{$xxs-device} {
                padding: 10px 15px;
            }
        }
    }
}

.slider-btn {
    .read-more {
        @media #{$xs-device} {
            padding: 15px;
        }

        @media #{$xxs-device} {
            padding: 10px;
        }

        &.active {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* section title start */
.section-title {
    padding-bottom: 55px;

    // responsive
    @media #{$sm-device} {
        padding-bottom: 30px;
    }

    .title {
        font-weight: 800;
        line-height: 1.4;
        padding-bottom: 15px;
        text-transform: uppercase;

        // responsive
        @media #{$sm-device} {
            margin-top: -18px;
            font-size: 26px;
        }

        @media #{$xs-device} {
            font-size: 22px;
        }
    }

    p {
        color: #cacaca;
        font-style: italic;
    }
}

// section title style 2
.title-style-2 {
    position: relative;

    &:after {
        background: url("../img/icon/title-line-2.png") no-repeat scroll left;
        content: "";
        height: 330px;
        left: -410px;
        position: absolute;
        top: -146px;
        width: 540px;
        pointer-events: none;
    }

    &.shape {
        &:after {
            background: url("../img/icon/title-line-1.png") no-repeat scroll left;
        }
    }
}

// section style 4
.title-style-4,
.title-style-5 {
    max-width: 400px;
    margin: 0 auto;

    // responsive
    @media #{$sm-device} {
        padding-top: 13px;
    }

    .title {
        color: $theme-color-6;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 40px;
        position: relative;

        &:before {
            bottom: 17px;
            left: 0;
            right: 0;
            width: 74px;
            height: 3px;
            content: "";
            margin: 0 auto;
            position: absolute;
            background-color: #636363;
        }
    }

    .paragraph {
        font-size: 14px;
    }
}

.title-style-5 {
    .title {
        color: $theme-color-7;

        &:before {
            background-color: $theme-color-7;
        }
    }
}

.section-title {
    &__left {
        max-width: 100%;

        .title {
            &:before {
                left: 0;
                right: auto;
            }
        }
    }
}

// title style 8
.title-style-8 {
    margin-bottom: 30px;
}
.title-style-8 h6 {
    color: $theme-color-8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title-style-8 h4 {
    color: #2e3138;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// button style
.btn-submit {
    color: $white;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 50px;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
    background-color: $theme-color;
    border-bottom: 2px solid #9a4251;
    transition: 0.4s;

    &:hover {
        background-color: $theme-color-2;
        border-color: #998675 #998675 #736357;
    }
}

// owl dot style
.owl-dot-style {
    .owl-dots {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);

        .owl-dot {
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            cursor: pointer;
            float: left;
            height: 16px;
            margin: 0 30px;
            position: relative;
            width: 16px;

            // responsive
            @media #{$xs-device} {
                margin: 0 15px;
            }

            &:last-child {
                @media #{$xxs-device} {
                    margin-right: 0;
                }
            }

            &:first-child {
                @media #{$xxs-device} {
                    margin-left: 0;
                }
            }

            &:before {
                background: #fff;
                content: "";
                height: 1px;
                left: 100%;
                opacity: 0.2;
                position: absolute;
                top: 7px;
                width: 61px;

                // responsive
                @media #{$xs-device} {
                    width: 31px;
                }
            }

            &:last-child {
                &:before {
                    width: 0;
                }
            }

            span {
                left: 50%;
                top: 50%;
                margin: 0 !important;
                position: absolute;
                transform: translate(-50%, -50%);
            }

            &.active {
                border-color: $white;

                span {
                    background: $white;
                }
            }
        }
    }

    &__2 {
        .owl-dots {
            bottom: 200px;

            // responsive
            @media #{$xlmax-device, $lg-device, $md-device} {
                bottom: 120px;
            }

            @media #{$sm-device} {
                bottom: 65px;
            }
        }
    }
}

// section title icon
.title-icon {
    width: 14px;
    height: 14px;
    display: block;
    border: 1px solid #9f9f9f;
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

    // responsive
    @media #{$sm-device} {
        top: -20px;
    }

    &:before {
        width: 6px;
        height: 6px;
        background-color: #9f9f9f;
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &:after {
        height: 150px;
        width: 1px;
        content: '';
        position: absolute;
        left: 50%;
        bottom: 5px;
        background-color: #9f9f9f;
    }
}

// screenshot area strat
.screenshot-overlay {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 30px;

    img {
        @media #{$sm-device} {
            width: 100%;
        }
    }

    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transform: scale(0.9);
        transition: 0.4s;
        ;
    }

    &:hover {
        &:before {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}

.screenshot-style-2 {
    padding-bottom: 62px;

    @media #{$sm-device} {
        padding-top: 75px;
        padding-bottom: 10px;
    }
}

.screenshot-item {
    margin-top: 30px;
    text-align: center;
}

.scr-thumb {
    img {
        background: url("../img/screenshot/screenshot-shadow.png") no-repeat scroll center 100%;
        padding-bottom: 56px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 22px;
    height: 25px;
    background-size: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.4s;

    &:focus {
        outline: none;
    }

    &:hover {
        filter: none;
    }
}

.swiper-button-next {
    background-image: url("../img/icon/next-hover.png");
}

.swiper-button-prev {
    background-image: url("../img/icon/prev-hover.png");

}

// screenshot style 3 
.screenshot-style-3 {
    background-color: #252525;
    margin-bottom: -52px;
}

// call to action start
.call-to-action {
    padding: 73px 0;

    @media #{$sm-device} {
        padding: 55px 0 62px;
    }
}

.call-action-content {
    .title {
        color: $white;
        padding-bottom: 15px;
    }

    .desc {
        color: $white;
        font-size: 16px;
        font-style: italic;
    }
}

.call-button {
    text-align: right;

    // responsive
    @media #{$sm-device} {
        text-align: left;
        margin-top: 30px;
    }
}

// bg img css
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// google map css
.google-map-area {
    .vue-map-container {
        height: 450px;
        width: 100%;

        // responsive
        @media #{$sm-device} {
            height: 300px;
        }
    }
}