// appointment area start
.appointment-area {
    @media #{$sm-device}{
        padding-bottom: 58px;
    }
}

.appointment {
    &-form {
        border: 3px solid $bdr-color;
        padding: 30px 20px;
        margin-top: 7px;
        // responsive
        @media #{$sm-device}{
            margin-top: 0;
        }
    }
    &-title {
        color: $white;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
        padding: 10px 0 8px;
        background-color: $theme-color-7;
        position: relative;
        &:before {
            content: '';
            width: 35px;
            height: 100%;
            top: 0;
            right: 100%;
            background-color: $theme-color-7;
            position: absolute;
        }
        &:after {
            border-color: #2888c1 #2888c1 transparent transparent;
            border-style: solid;
            border-width: 6px;
            content: "";
            left: -35px;
            position: absolute;
            top: 100%;
            z-index: 1;
        }
        i {
            padding-right: 10px;
        }
    }
    &-field {
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid $bdr-color;
        border-radius: 40px;
        padding: 5px 20px;
    }
}
.select-group {
    display: flex;
    justify-content: space-between;
    // responsive
    @media #{$lg-device, $xxs-device}{
        display: block;
    }
}
.single-select-item {
    // responsive
    @media #{$lg-device, $xxs-device}{
        margin-bottom: 15px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    select {
        color: #888;
        border-radius: 40px;
        padding: 8px; 
        font-size: 13px;
        border-color: $bdr-color;
        &:focus {
            outline: none;
        }
        // responsive
        @media #{$lg-device, $xxs-device}{
            width: 100%;
        }
    }
}
.textarea-field {
    width: 100%;
    border: 1px solid $bdr-color;
    height: 70px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.submit-btn {
    background-color: $theme-color-7;
    padding: 10px 35px;
    color: $white;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 600;
    &:hover {
        background-color: #276C95;
    }
}
