.best-app-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bestapp-content-text {
    padding-bottom: 120px;

    // responsive
    @media #{$md-device, $sm-device} {
        padding-bottom: 48px;
    }

    p {
        padding-bottom: 56px;

        // responsive
        @media #{$sm-device} {
            padding-bottom: 30px;
        }
    }
}

.bestapp-thumb {
    bottom: 0;
    right: 0;
    text-align: right;
    position: absolute;

    // responsive
    @media #{$md-device, $sm-device} {
        position: inherit;
        text-align: center;
    }

    img {
        width: 85%;
    }
}

// bestappTwo css start
.bestappTwo,
.downloadTwo,
.slider-content__style-2 {
    .read-more {

        &:hover,
        &.active {
            background-color: $theme-color-3;
            border-color: #E8AF36 #E8AF36 #BB8112;
        }
    }
}

.bestappThree,
.download-style-3,
.slider-content__style-3 {
    .read-more {

        &:hover,
        &.active {
            background-color: $theme-color-5;
            border-color: #35A6E1 #35A6E1 #1D7CAE;
        }
    }
}