/*------- features area start -------*/
.feature-item-inner {
    margin-top: -30px;
    margin-bottom: -5px;
    &__style-3 {
        background-color: $theme-color-5;
        margin-top: 0;
        padding: 38px 0 70px;
        // responsive
        @media #{$sm-device} {
            padding: 33px 0 62px;
        }
        .feature {
            &-item {
                .feature-icon {
                    color: $white;
                    &:before {
                        border-color: $white;
                    }
                }
                &:hover {
                   .feature-icon {
                        color: $theme-color-5;
                        background-color: $white;
                        &:before {
                            border-color: $white;
                        }
                   } 
                }
            }
            &-content {
                h6, p {
                    color: $white;
                }
            }
        }
    }
}
.feature {
    &-item {
        text-align: center;
        transition: 0.4s;
        margin-top: 30px;
        // responsive
        @media #{$sm-device} {
            padding: 0 65px;
        }
        @media #{$xs-device} {
            padding: 0 35px;
        }
        @media #{$xxs-device} {
            padding: 0;
        }
        &:hover {
            .feature-icon {
                color: $theme-color;
                &:before {
                    border-color: $theme-color;
                }
            }
        }
    }
    &-icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        font-size: 35px;
        position: relative;
        color: #949494;
        transition: 0.4s;
        // responsive
        @media #{$sm-device} {
            width: 80px;
            height: 80px;
            line-height: 80px;
        }
        &:before {
            top: 0;
            left: 0;
            border: 2px solid #D5D5D5;
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transition: 0.4s;
            display: block;
            transform: scale(1);
            // responsive
            @media #{$sm-device} {
                width: 80px;
                height: 80px;
            }
        }
    }
    &-content {
        h6 {
            font-size: 13px;
            font-weight: 800;
            text-transform: uppercase;
            padding: 22px 0 18px;
        }
        p {
            font-size: 14px;
            color: #666;
        }
    }
}
/*------- features area end -------*/

// features style 02
.feature-style-2 {
    // responsive
    @media #{$md-device} {
        margin-bottom: -30px;
    }
    @media #{$sm-device} {
        margin-bottom: -40px;
    }
}
.feature-wrapper {
    // responsive
    @media #{$md-device} {
        margin-top: 30px;
    }
}
.sin-feature {
    width: 100%;
    // responsive
    @media #{$md-device} {
        width: 50%;
        float: left;
        margin-left: 0 !important;
        margin-bottom: 30px !important;
    }
    @media #{$sm-device} {
        margin-left: 0 !important;
        margin-bottom: 30px !important;
    }
    &:nth-child(1) {
        margin-bottom: 45px;
        margin-left: -200px;
    }
    &:nth-child(2) {
        margin-bottom: 65px;
        margin-left: -40px;
    }
    &:nth-child(3) {
        margin-bottom: 100px;
        margin-left: 60px;
        // responsive
        @media #{$xlmid-device} {
            margin-left: 40px !important;
        }
        @media #{$lg-device} {
            margin-left: 0 !important;
        }
    }
    &:nth-child(4) {
        margin-bottom: 80px;
        margin-left: 95px;
        // responsive
        @media #{$xlmid-device} {
            margin-left: 50px !important;
        }
        @media #{$lg-device} {
            margin-left: 0 !important;
        }
    }
    &:nth-child(5) {
        margin-bottom: 85px;
        margin-left: 60px;
        // responsive
        @media #{$xlmid-device} {
            margin-left: 20px !important;
        }
        @media #{$lg-device} {
            margin-left: 0 !important;
        }
    }
    &:nth-child(6) {
        margin-bottom: 40px;
        margin-left: -40px;
    }
    &:nth-child(7) {
        margin-left: -200px;
    }
    .icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        font-size: 35px;
        position: relative;
        color: #888888;
        text-align: center;
        float: left;
        margin-right: 12px;
        background-color: $white;
        transition: 0.4s;
        // responsive
        @media #{$sm-device} {
            width: 80px;
            height: 80px;
            line-height: 80px;
        }
        &:before {
            top: 0;
            left: 0;
            border: 2px solid $white;
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transition: 0.4s;
            display: block;
            transform: scale(1);
            // responsive
            @media #{$sm-device} {
                width: 80px;
                height: 80px;
            }
        }
    }
    .content {
        .feature-title {
            font-size: 13px;
            font-weight: 800;
            padding-top: 14px;
            padding-bottom: 18px;
            text-transform: uppercase;
        }
        .feature-title {
            @media #{$sm-device} {
                padding-top: 0;
            }
        }
        p {
            font-size: 13px;
            color: $paragraph-light;
        }
    }
    &:hover {
        .icon {
            color: $white;
            background-color: $theme-color-3;
            &:before {
                transform: scale(0.8);
                border-color: $white;
            }
        }
    }
}
.sin-feature {
    .content {
        overflow: hidden;
    }
}
.feture-thumb {
    text-align: center;
    img {
        // responsive
        @media #{$md-device} {
            width: 70%;
            margin: auto;
        }
    }
}

// features style 02
.feature-style-3 {
    .title-style-2 {
        // responsive
        @media #{$sm-device} {
            padding-top: 75px;
        }
        &:after {
            right: -180px;
            left: auto;
            top: -120px;
            // responsive
            @media #{$sm-device} {
                top: -70px;
            }
        }
    }
}

// features style 04
.feature-item-inner {
    &__left {
        .feature-item {
            // responsive
            @media #{$sm-device} {
                padding: 0;
            }
            &__left,
            &__right {
                display: flex;
                align-items: center;
                padding-bottom: 70px;
                // responsive
                @media #{$lg-device} {
                    padding-bottom: 40px;
                }
                // responsive
                @media #{$sm-device} {
                    flex-direction: row-reverse;
                    padding-bottom: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                    .feature-icon {
                        &:after {
                            display: none;
                        }
                    }
                }
                .feature-icon {
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    order: 2;
                    text-align: center;
                    margin-left: 20px;
                    color: #3e3e3e;
                    font-size: 30px;
                    position: relative;
                    // responsive
                    @media #{$sm-device} {
                        margin-left: 0;
                        margin-right: 20px;
                        width: 70px;
                        height: 70px;
                        line-height: 70px;
                    }
                    &:before {
                        width: 90px;
                        height: 90px;
                        border-color: $theme-color-6;
                        // responsive
                        @media #{$sm-device} {
                            width: 70px;
                            height: 70px;
                        }
                    }
                    &:after {
                        top: 112%;
                        left: 50%;
                        width: 1px;
                        height: 80px;
                        content: '';
                        position: absolute;
                        background-color: #ebebeb;
                        // responsive
                        @media #{$sm-device} {
                            display: none;
                        }
                    }
                }
                .feature-content {
                    order: 1;
                    text-align: right;
                    width: calc(100% - 90px);
                    // responsive
                    @media #{$sm-device} {
                        text-align: left;
                        width: calc(100% - 60px);
                    }
                    h6 {
                        padding-top: 0;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .feature-item {
            &__right {
                flex-direction: row-reverse;
                .feature-icon {
                    margin-left: 0;
                    margin-right: 20px;
                }
                .feature-content {
                    text-align: left;
                }
            }
        }
    }
}
.feature-middle-thumb {
    // responsive
    @media #{$md-device, $sm-device} {
        text-align: center;
        padding-top: 60px;
    }
}