
/*------ medical info start ------*/
.medical-info {
    &-single {
        height: 100%;
        padding: 60px 50px 63px;
        background-image: url(../assets/img/home-medical/sin-info-bg.jpg);
        // responsive
        @media #{$lg-device} {
            padding: 60px 30px 63px;
        }
        @media #{$md-device, $sm-device} {
            text-align: center;
        }
        @media #{$xxs-device}{
            padding: 60px 15px 63px;
        }
    }
    &-title {
        color: $white;
        font-weight: 700;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 12px;
        &:before {
            bottom: 0;
            left: 0;
            content: '';
            width: 35px;
            height: 2px;
            position: absolute;
            background-color: $white;
            // responsive
            @media #{$md-device, $sm-device} {
                right: 0;
                margin: auto;
            }
        }
    }
    &-body {
        p {
            font-size: 14px;
            color: $white;
        }
        .btn-round {
            margin-top: 30px;
        }
        li {
            color: $white;
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid $bdr-color;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                float: right;
            }
        }
    }
}
.working-hour {
    text-align: left;
}
.medical-info-midle {
    position: relative;
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background-color: $white;
        opacity: 0.4;
        pointer-events: none;
    }
}
/*------ medical info end ------*/