/*------ policy section start ------*/
.policy {
    &-item {
        display: flex;
        align-items: center;
        padding-bottom: 65px;
        // responsive
        @media #{$sm-device}{
            padding-bottom: 30px;
        }
        &:nth-child(2) {
            margin-left: 25px;
            // responsive
            @media #{$md-device, $sm-device}{
                margin-left: 0;
            }
        }
        &:last-child {
            padding-bottom: 0;
            margin-left: 50px;
            // responsive
            @media #{$md-device, $sm-device}{
                margin-left: 0;
            }
        }
    }
    &-icon {
        width: 72px;
        height: 72px;
        line-height: 68px;
        border: 2px solid $theme-color-7;
        border-radius: 50%;
        color: $theme-color-7;
        font-size: 24px;
        text-align: center;
    }
    &-content {
        padding-left: 20px;
        width: calc(100% - 72px);
        .policy-title {
            font-size: 14px;
            font-weight: 700;
            color: $theme-color-7;
            padding-bottom: 10px;
        }
        .policy-desc {
            color: $paragraph-light;
            font-size: 14px;
        }
    }
}
/*------ policy section end ------*/