/*-------- video section start --------*/
.video-style-2 {
    @media #{$sm-device} {
        padding-top: 75px;
    }
}
.video-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.video-list {
    line-height: 1;
    li {
        display: inline-block;
        line-height: 1;
        margin-right: 80px;
        // responsive
        @media #{$xs-device} {
            margin-right: 30px;
        }
        &:last-child {
            margin-right: 0;
        }
        i {
            padding-right: 10px;
        }
    }
    &__style-2 {
        li {
            display: block;
            margin-bottom: 20px;
            color: $paragraph-light;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.video-player {
    position: relative;
    // responsive
    @media #{$md-device, $sm-device} {
        padding-top: 57px;
    }
    &:after {
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-image: url(../assets/img/video-shadow.png);
        // responsive
        @media #{$md-device} {
            top: inherit;
        }
    }
}
/*-------- video section end --------*/